.grid-container {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  padding: 10px 3px;
  font-family: "Long Cang", cursive;
  max-width: 500px;
  margin: 0 auto;
}

.gg-dice-1 {
  display: block;
  transform: scale(var(--ggs, 1));
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 3px;
  margin: auto;
  color: red;
  -webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 3px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 10px;
  }
}

.gg-dice-1::before {
  content: "";
  display: block;
  box-sizing: border-box;
  background: currentColor;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  left: 7px;
  top: 7px;
}

.generate {
  flex: 1;
  margin: 10px auto;
}

.generate h1 {
  margin: 10px auto;
  padding-bottom: 10px;
  text-align: center;
}

.stats th,
.stats td {
  text-align: left;
  font-size: 1.5rem;
}

.stats {
  flex: 1;
}
